body{
    margin: 0;
    padding: 0;
}

.main{
    height: 100vh;
    display: flex;
}

.main_left{
    flex: 0.8;
    display: flex;
    flex-direction: column;
}

.main_videos{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.main_right{
    flex: 0.2;
    display: flex;
    flex-direction: column;
    background-color: #242322;
}

video{
    transform: scaleX(-1);
    height: 300px;
    width: 400px;
    object-fit: cover;
}

.main_controls{
    display: flex;
    justify-content: space-between;
    background-color: #1c1e20;
    color: white;
    padding: 5px;
}

.main_controls_block{
    display: flex;
}

.main_controls_btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
}

.main_controls_btn:hover{
    background-color: #343434;
    border-radius: 5px;
}

.main_controls_btn i{
    font-size: 24px;
}

.leave{
    color: #EB534B;
}

.main_header{
    color: #f5f5f5;
    text-align: center;
}

.main_chat_window{
    flex-grow: 1;
    overflow-y: scroll;
}

.main_message_container{
    padding: 22px 12px;
    display: flex;
}

.main_message_container input{
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: white;
}

.messages{
    color: white;
}

/* For WebKit browsers */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #858181;
  }
  
  /* For Firefox */
  ::-moz-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  ::-moz-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-moz-scrollbar-thumb {
    background: #000;
  }
  
  .unmute,.stop{
    color: #CC3B33;
  }